# Ignore node_modules in both client and server
client/node_modules/
server/node_modules/
node_modules/

# Ignore build output
client/dist/
server/dist/
build/

# Ignore environment variables
.env

# Ignore these files
python-tts/speech.wav
python-tts/cython_constraint.txt
python-tts/__pycache__
cython_constraint.txt

# Ignore saved whisper files
whisperProgram/output/

