

.book-container {
    width: 100vw; /* Full viewport width */
    height: 100vh; /* Full viewport height */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    background-color: darkblue;
}
  
  .book-wrapper {
    max-width: 90%; /* At most 90% of the parent's width */
    max-height: 90%; /* At most 90% of the parent's height */
    height: 100%;
    width: 100%;
    background-image: url('../assets/Green_Open_Book_PNG_Clipart-1054.png');
    background-size: 100% 100%;
  }
  
  .book-image {
    width: 100%; /* Fill the width of the parent */
    height: 100%; /* Fill the height of the parent */
    object-fit: contain; /* Ensure the image fits within the container without distortion */
  }
  
  .content {
    position: absolute;
    top: 14%;
    left: 19%;
    max-width: 30%;
    transform: rotate(3deg);
    gap: 3px;
    display: flex;
    flex-wrap: wrap;
  }
  